
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Fira Code', monospace;
    background-color: black;
  }

  header img {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 2rem;
  }
  
  header {
    /* background-color: #F0A500; */
    color: #ffff64;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  header h1:hover, header h2:hover, header:hover h1, header:hover h2, header img:hover, header:hover img {
    color: #ffff64;
    opacity: 0.8;
  }
  
  h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-size: 4.5rem;
  }

  header h2 {
    font-size: 1.4rem;
    margin: 0 1rem;
    text-align: center;
  }
  

  main {
    max-width: 600px;
    color: #ffff64;
    margin: 0 auto;
    background-color: black;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ffff64; /* Updated border property */
    border-radius: 4px;
    margin: 0.5rem 0;
    font-family: 'Fira Code', monospace;
    background-color: black;
    color: #ffff64;
  }

  select {
    display: block;
    width: 23%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ffff64;
    border-radius: 4px;
    margin: 0.5rem 0;
    font-family: 'Fira Code', monospace;
    background-color: black;
    color: #ffff64;
  }
  
  label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .button-group {
    display: flex;
    justify-content: center;
  }
  
  .length-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  
  .length-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff64;
    background-color: black;
    border: 1px solid #ffff64;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
  }
  
  .length-button:not(.selected):hover {
    background-color: #ffff64;
    color: black;
  }
  
  .length-button.selected {
    background-color: #ffff64;
    color: black;
  }
  
  @media screen and (max-width: 768px) {
    .length-button {
      width: calc(50% - 0.5rem);
    }
  }
  
  .btn {
    display: block;
    background-color: #ffff64;
    color: black;
    font-family: 'Fira Code', monospace;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s ease-in-out;
    margin: 2rem auto 1rem auto;
    width: 25%
  }
  
  .btn:hover {
    background-color: gray;
  }

  @media screen and (max-width: 480px) {
    .btn {
      width: 100%;
    }
  }
  
  .alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .error {
    background-color: #FF7B7B;
    color: white;
  }
  
  .summary {
    margin-top: 1rem;
    border: 2px solid #ffff64;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .summary strong {
    font-weight: bold;
  }
  
  .summary p {
    margin-bottom: 1rem;
  }