<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SongSnap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='finger-snap.png') }}">
    <script src="script.js"></script>
  </head>
  <body>
    <header>
      <h1 onclick="refreshPage()"><a href="#"></a>SongSnap</h1>
      <div class="image-container"></div>
        <img src="{{ url_for('static', filename='snap.png') }}" alt="Finger Snap icon">
      </div>
      <h2 onclick="refreshPage()"><a href="#"></a>Streamline your music experience with our lightning-fast song summarizer!</h2>
    </header>
    <main>
      <form method="POST" action="/">
        <div class="input-group">
          <label for="title">Song Title</label>
          <input type="text" id="title" name="title" autocomplete="off" required>
        </div>
        <div class="input-group">
          <label for="artist">Artist</label>
          <input type="text" id="artist" name="artist" autocomplete="off" required>
        </div>
        <div class="input-group">
          <label for="length">Length</label>
          <select id="length" name="length">
            <option value="a sentence">Sentence</option>
            <option value="a paragraph">Paragraph</option>
            <option value="an essay of 15 or more sentences">Essay</option>
          </select>
        </div>
        <input type="hidden" name="submitted" value="true">
        <button type="submit" class="btn">Submit</button>
      </form>
      {% if error %}
        <div class="alert error">{{ error }}</div>
      {% endif %}
    </main>
  </body>
</html>
