<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Songshot: A Snapshot of a Song</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
      <h1 onclick="refreshPage()"><a href="#"></a>The Genius of Genius</h1>
      <h2 onclick="refreshPage()"><a href="#"></a> Song Analysis in seconds</h2>
    </header>
    <main>
      <form method="POST" action="/">
        <div class="input-group">
          <label for="title">Song Title</label>
          <input type="text" id="title" name="title" autocomplete="off" required>
        </div>
        <div class="input-group">
          <label for="artist">Artist</label>
          <input type="text" id="artist" name="artist" autocomplete="off" required>
        </div>
        <input type="hidden" name="submitted" value="true">
        <button type="submit" class="btn">Submit</button>
      </form>
      {% if error %}
        <div class="alert error">{{ error }}</div>
      {% elif summary %}
        <div class="summary">
          <h2>{{ title }} by {{ artist }}</h2>
          <br>
          <p>{{ summary }}</p>
        </div>
      {% endif %}
    </main>
    <script>
      function refreshPage() {
      var summaryElement = document.querySelector('.summary');
      if (summaryElement) {
        summaryElement.style.display = 'none';
      }
    }
    </script>
  </body>
</html>
