<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6ZE8YK6HTF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-6ZE8YK6HTF');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SongSnap</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='finger-snap.png') }}">
</head>

<body>
  <header>
    <h1 onclick="location.reload()"><a href="#"></a>SongSnap</h1>
    <div class="image-container"></div>
    <img src="{{ url_for('static', filename='snap.png') }}" alt="Finger Snap icon" onclick="location.reload()">
    </div>
    <h2 onclick="location.reload()"><a href="#"></a>Streamline your music experience with our <br>lightning-fast song
      summarizer!</h2>
  </header>
  <main>
    <form method="POST" action="/">
      <div class="input-group">
        <label for="title">Song Title</label>
        <input type="text" id="title" name="title" autocomplete="off" required value="{{ title }}">
      </div>
      <div class="input-group">
        <label for="artist">Artist</label>
        <input type="text" id="artist" name="artist" autocomplete="off" required value="{{ artist }}">
      </div>
      <div class="input-group">
        <label for="length">Length</label>
        <div class="button-group">
          <button class="length-button" value="a single complex sentence" onclick="lengthButtonClick(this)"
            type="button">Sentence</button>
          <button class="length-button" value="a paragraph" onclick="lengthButtonClick(this)"
            type="button">Paragraph</button>
          <!-- <button class="length-button" value="an essay of 15 or more sentences" onclick="lengthButtonClick(this)"
            type="button">Essay</button> -->
        </div>
        <input type="hidden" id="length" name="length" required value="">
      </div>
      <input type="hidden" name="submitted" value="true">
      <button type="submit" class="btn">Generate</button>
    </form>
    <div id="loading-component" class="loading" style="display:none;">
      <!-- <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
      </div> -->
      <p>Loading<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></p>
    </div>    
    {% if error %}
    <div class="error">
      <h2>{{ title }} by {{ artist }}</h2>
      <br>
      <p>Could not generate summary! Check whether your song is on Genius by visiting this <a href='https://genius.com/search?q={{ title }} {{ artist }}' target='_blank' style='color: white; font-weight: bold; text-decoration: none;'>link</a>. Make sure to enter the song title and artist name exactly as they are. </p>
      <br>
    </div>
    {% elif summary %}
    <div class="summary">
      <h2>{{ title }} by {{ artist }}</h2>
      <br>
      <p>{{ summary }}</p>
    </div>
    {% endif %}
  </main>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>